<div class="head head-custom" style="margin-top: 10px;">
    <div class="isw-tag"></div>
    <h1>Meta Tags</h1>
    <div class="clear"></div>
</div>
<div class="block-fluid" style="min-height: 150px; padding-bottom: 10px; overflow-y: scroll; overflow-x: hidden;">
    <div class="row-form" style="display: block; float: left; padding-bottom: 5px; width: 100%;">
        <i>Các tags ngăn cách nhau bằng dấu phẩy ","</i>
        <input type="text" id="tag" ng-model="tag" style="width: 70%; margin-right: 5px;">
        <input type="button" class="btn btn-create btn-flat" ng-click="addTag(tag)" value="Thêm" />
        <div class="span10 no-margin">
            <div class="meta-tags" id="input-tags" style="padding: 7px 0px;">
                <ul>
                    <li ng-repeat="tag in tags">
                        <span>{{tag}} <a class="remove" ng-click="tags.splice($index, 1)">x</a></span>
                    </li>
                </ul>
            </div>
        </div>
        <input type="hidden" id="TagClouds" name="TagClouds" value="{{tags.join()}}"/>
    </div>
</div>